@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
html{
	overflow-x: hidden;
	height: 100%;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-size: 13px;
	font-family: "Roboto";
	background: #fcfcfd;
}

/*mainbody section styling*/
.mainBody {
	width: 100%;
	width: 100%;
	min-height: 100%;
}

.dropMenu {
	background-color: #19191a;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	display: grid;
	place-items: center;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	display: none;
}
.btn {

	padding-left: px;
	outline: none;
	border: none;
	width: 120px;
	height: 40px;
	font-size: 1.1rem;
	font-weight: 630;
	border-radius: 5px;
	transition: all 0.7s ease;
	background-color: rgb(255, 255, 255);
}
.btn:hover {
	background-color: #ff08d6;
}
.btn1 {
	padding-top: px;
	outline: none;
	border: none;
	width: 120px;
	height: 45px;
	font-size: 1rem;
	font-weight: 640;
	border-radius: 5px;
	transition: all 0.7s ease;
	background-color: rgb(236, 69, 208);
}
.btn1:hover {
	background-color: #ffffff;
}
.mob1 {
	padding: 25px;
	height: 20%;
}

.Close {
	position: absolute;
	top: 25px;
	right: 30px;
	color: white;
	font-weight: 600;
	font-size: 2rem;
	cursor: pointer;
}
.MenuAnimation {
	transform: translateX(0%);
}
.ham {
	cursor: pointer;
}
.dropMenu ul {
	width: 100%;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}
.dropMenu ul li {
	width: 100%;
	height: 70px;
	display: grid;
	place-items: center;
}
.dropMenu ul li a {
	text-decoration: none;
	font-size: 1.5rem;
	font-weight: 500;
	color: #ffffff;
	transition: all 0.5s ease;
	white-space: nowrap;
}
.dropMenu ul li a:hover {
	color: rgb(236, 69, 208);
}

/*navbar styling*/
.header {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(26, 25, 29);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 55;
	transition: all 0.5s ease;
	overflow: hidden;
}
.sub_header {
	max-width: 1400px;
	width: 100%;
	background-color: transparent;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}
.logo {
	width: 150px;
	display: flex;
	align-items: center;
	margin-left: 50px;
}
.logo img {
	width: 100%;
	object-fit: contain;
}
.ham {
	display: none;
}

.menu_item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 70%;
	width: 100%;
}
.menu_item ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.menu_item ul li {
	list-style: none;
	white-space: nowrap;
}
.menu_item ul li a {
	text-decoration: none;
	color: #fff;
	transition: all 0.5s ease;
	position: relative;
	font-size: 0.8rem;
	letter-spacing: 1px;
	white-space: nowrap;
	font-weight: 600;
}
.menu_item ul li span {
	color: #fff;
	margin-left: 5px;
}
.menu_item ul li a::after {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	background-color: #b6228f;
	bottom: -10px;
	left: 0;
	transition: all 0.5s ease;
}
.menu_item ul li a:hover::after {
	width: 99%;
}
.menu_item ul li a:hover {
	color: #b6228f;
}
.buttons {
	margin: 0 20px;
	width: 300px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.buttons button {
	width: 90px;
	height: 30px;
	margin-left: 10px;
	outline: none;
	border: none;
	text-transform: capitalize;
	font-weight: 600;
	border-radius: 5px;
	cursor: pointer;
}
#login {
	background-color: #ffffff;
	color: #fc00bd;
	border: solid 1px #fc00bd;
}
#register {
	background-color: #fc00bd;
	color: #fff;
}

.image{
    float: right;
   max-width: 700px;
}


/* home section styling */
.home{
    display: flex;
    background-color: rgb(241, 238, 238);
    height: 100vh;
    color: #000;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}

.home .home-content{
    margin-top: 150px;
    margin-left: 100px;
}
.home .home-content .text-1{
    font-size: 25px;
    color: #2668fb;
    font-weight: 600;
}

.home .home-content .text-2{
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
}


.home .home-content .text-3{
    font-size: 30px;
    font-weight: 600;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #2668fb;
    font-weight: 600;
}

.home .home-content a{
    display: inline-block;
    background: #000;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    padding: 25px 60px;
    box-shadow: 8px 10px #e86acf;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    background: rgb(53, 52, 52);
}
.image{
   width: 900px;
   height: 400px;
  margin-top: 200px;
}

/*job description section styling*/
.pink{
	color: #ff0095;
}
.col{
	padding: 20px;
    margin: 50px 200px;
	width: 55%;
	height: 80%;
	border: 3px solid gray;
	border-left: solid 5px #ff0095;
}
.col h2{
	font-size: 30px;
}
.col p{
  font-size: 25px;
}
.flex-parent-element {
	display: flex;
	width: 100%;
	margin-left: 100px;
}
  
.flex-child-element {
	flex: 1;
	margin: 10px;
}
  
.flex-child-element:first-child {
	margin-right: 20px;
}
.left{
	width: 50%;
	margin-left: 100px;
}
.underline{
		display: inline;
		border-bottom: 3px solid #ff0095;
		padding-bottom: 3px;
		font-size: 35px;
	  font-weight: 650;
}
.description{
		font-size: 18px;
	   line-height: 2;
		font-weight: 400;
}
ul li{
		list-style: none;
		font-size: 18px;
		font-weight: 400;
		line-height: 3;
}
		
/*testimonial section styling*/

.testimonial{
	background-color: rgb(241, 238, 238);
}
section{
	float: left;
	position: relative;
	padding: 30px 0;
	background: #fcfcfd;
	z-index: 1;
	width: 100%;
}
.section-title{
	float: left;
	position: relative;
	width: 100%;
	padding-bottom: 40px; 
}
.section-title p{
	color: #7d93b2;
	font-size: 13px;
	line-height: 20px;
	max-width: 550px;
	margin: 0 auto;
}
.section-title h2 {
	float: left;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 34px;
	font-weight: 800;
	position: relative;
}
.section-separator {
	float: left;
	width: 100%;
	position: relative;
	margin: 20px 0;
}
.section-separator:before{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	height: 3px;
	width: 50px;
	border-radius: 3px;
	z-index: 2;
	background-color: #ff0095;
	margin-left: -25px;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.listing-carousel-button{
	position: absolute;
	top: 50%;
	width: 80px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	z-index: 100;
	cursor: pointer;
	background: #ff0095;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.45);
	transition: all 200ms linear;
	outline: none;
}
.listing-carousel-button.listing-carousel-button-next{
	right: -30px;
	padding-right: 20px;
	border-radius: 60px 0 0 60px;
}
.listing-carousel-button.listing-carousel-button-prev{
	left: -30px;
	padding-left: 20px;
	border-radius: 0 60px 60px 0;
}
.listing-carousel-button.listing-carousel-button-next:hover{
	right: -15px;
	background: rgba(6,27,65,0.4);
}
.listing-carousel-button.listing-carousel-button-prev:hover{
	left: -15px;
	background: rgba(6,27,65,0.4);
}
.testi-item {
	transition: all .3s ease-in-out;
	transform: scale(0.9);
	opacity: 0.9;
}
.testimonials-text {
	padding: 75px 50px 75px;
	overflow:hidden;
	background: #f5f6fa;
	border:1ps solid #f1f1f1;
	border-radius: 10px;
	transition: all .3s ease-in-out;
}
.testimonials-text-after{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	bottom: 25px;
	right: 30px;
}
.testimonials-text-before{
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	position: absolute;
	color: #ccc;
	opacity: .3;
	font-size: 35px;
	transition: all 400ms linear;
	top: 25px;
	left: 30px;
}

.testimonials-text .listing-rating{
	text-align: center;
	margin-bottom: 12px;
}
.listing-rating i{
	color: #ff0095;
}

.testimonials-avatar h3{
	text-align: center;
	font-weight: 600;
	color: #000;
	font-size: 25px;
}
.testimonials-avatar h4{
	text-align: center;
	 font-weight:400;
	 font-size:20px;
	 padding-top:6px;
	 color:#7d93b2;
}
.testimonials-carousel .swiper-slide{
	padding: 30px 0;
}	 
.testi-avatar{
	position: absolute;
	left: 50%;
	top: -30px;
	width: 90px;
	height: 90px;
	margin-left: -45px;
	z-index: 20;
}
.testi-avatar img{
	width: 90px;
	height: 90px;
	float: left;
	border-radius: 100%;
	border:6px solid #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.swiper-slide-active .testimonials-text {
	background: #fff;
	box-shadow: 0 9px 26px rgba(58, 87,135,0.1);
}
.testimonials-text p{
	color: #878c9f;
	font-size: 14px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	line-height: 24px;
	padding-bottom: 10px;
	font-weight: 500;
}
.text-link{
	position: absolute;
	bottom:0;
	padding: 15px 0;
	border-radius: 10px 10px 0 0;
	background: #f9f9f9;
	border:1px solid #eee;
	box-shadow: 0 10px 15px rgba(0,0,0,0.03);
	left: 50%;
	width: 200px;
	margin-left: -100px;
}
.swiper-slide-active .testi-item{
	opacity: 1;
	transform: scale(1.0);
}
.tc-pagination{
	text-align: center;
	margin-top: 10px;
	width: 100% !important;
}
.tc-pagination_wrap {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
}
.tc-pagination2{
	float: none;
	display: inline-block;
	padding: 14px 0;
	background: #fff;
	border-radius: 30px;
	min-width: 250px;
	border-bottom: 0;
}
.tc-pagination .swiper-pagination-bullet, .tc-pagination2.swiper-pagination-bullet{
	opacity: 1;
	background: #000;
	margin:0 2px;
	width: 10px;
	height: 10px;
	transition: all 300ms ease-in-out;
}


/*Related post section*/

/* Float four columns side by side */

.column {
	float: left;
	width: 25%;
	padding: 0 50px;
	margin-left: 70px;
}
.column h2{
	  font-size: 30px;
}
.column h3{
	font-size: 20px;
}
.column p{
	font-size: 25px;
}
  
  /* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
 
	/* Style the counter cards */
   .card{
	   	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	   padding: 16px;
	   text-align: center;
	   background-color: #f1f1f1;
	   width: 400px;
	   height: 300px;
   }
   
   .wrapper {
	   padding: 5px;
	   margin: 20px auto;
	   margin-left: 35px;
   }
   header {
	   padding: 0 15px;
	   margin-left: 25px;
   }
   h3{
	   font-weight: 400;
   }
   .columns {
	   display: flex;
	   flex-flow: row wrap;
	   justify-content: center;
	   margin: 5px 0;
   }
   
   .column {
	   flex: 1;
	   border: 3px solid gray;
	   margin: 30px;
	   padding-left: 80px;
	   padding-right: 80px;
	   height: 300px;
	   border-left: solid 5px #ff0095;
   }
   
   .container { 
	   height: 100px;
	   position: relative;
   }
	 
   .center {
	   margin: 0;
	   position: absolute;
	   top: 50%;
	   left: 50%;
	   -ms-transform: translate(-50%, -50%);
	   transform: translate(-50%, -50%);
   }
	
   .view{
	   font-size: 15px;
	   background-color: #ff0095;
	   color: #fff;
	   border-radius: 10px;
	   padding: 10px 50px;
   }
   .view:hover{
	   background-color: #fff;
	   color: #000;
   }

/* footer section styling*/

.footer_MainBox {
	width: 100%;
	background-color: #000000;
	display: grid;
	place-items: center;
}
.Footer_page {
	overflow: hidden;
	width: 100%;
	max-width: 1400px;
	width: 100%;
}
.Footer_conatiner {
	width: 100%;
	height: fit-content;
	background-color: #000000;
	display: flex;
	justify-content: space-evenly;
	padding: 20px;

	position: relative;
}
.Footer_header {
	width: 50%;
	height: 100%;
	letter-spacing: 1px;
	line-height: 1.5em;
	color: rgba(245, 245, 245, 0.788);
	padding-right: 20px;
	padding: 10px;
}
.Footer_header p {
	font-size: 0.8rem;
}
.Footer_columns_holder {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	overflow: hidden;
}
.Footer_columns {
	height: 200px;
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	letter-spacing: 2px;
	overflow: hidden;
}
.Footer_columns h1 {
	font-size: 1rem;
	color: white;
	font-weight: 600;
}
.Footer_columns a {
	width: fit-content;
	text-decoration: none;
	font-size: 0.8rem;
	color: rgba(245, 245, 245, 0.788);
	transition: all 0.5s ease;
}
.Footer_header img {
	width: 150px;
	object-fit: contain;
}
.Footer_columns a:hover {
	text-decoration: underline;
	color: #ff00bb;
}
.join_our {
	padding: 0 50px;
	width: 100%;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	position: absolute;
	bottom: 5%;
	right: 0%;
}
.join_our p {
	color: #fff;
	font-weight: 500;
	margin-right: 120px;
	white-space: nowrap;
}
.input_holder {
	width: 300px;
	display: flex;
	justify-content: space-around;
}
.input_holder input {
	outline: none;
	border-radius: 20px;
	height: 35px;
	width: 200px;
	border: solid 1px white;
	padding: 10px;
}
.input_holder button {
	outline: none;
	border: none;
	width: 90px;
	height: 35px;
	border-radius: 20px;
	background: #ff00bb;
	font-weight: 600;
}
.Privacy_holder {
	width: 100%;
	height: 60px;
	background-color: #000000;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.Privacy_links {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.Privacy_links a {
	font-weight: 500;
	width: fit-content;
	text-decoration: none;
	font-size: 0.7rem;
	color: rgba(255, 255, 255, 0.404);
	transition: all 0.5s ease;
}
.Privacy_links a:hover {
	color: rgba(255, 255, 255, 0.938);
}
.Social-media {
	margin-right: 40px;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.image_conatiner {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#link {
	object-fit: contain;
	width: 30px;
	cursor: pointer;
}
.copyRight {
	color: rgba(255, 255, 255, 0.644);
	height: 30px;
	font-size: 0.7rem;
	display: grid;
	place-items: center;
}
.responsive {
	display: none;
}

/*media queries*/

@media (max-width: 1250px){
	.home .home-content .text-1{
		font-size: 20px;
	}
	
	.home .home-content .text-2{
		font-size: 35px;
	}
	.home .home-content .text-3{
		font-size: 25px;
	}
	.image{
	   width: 800px;
	   height: 400px;
	}
	
.home .home-content a{
    padding: 15px 40px;
   
}
	.column h2{
		font-size: 20px;
  }
  .column h3{
	  font-size: 10px;
  }
  .column p{
	  font-size: 15px;
  }
}

@media (max-width: 1050px){
	.home .home-content .text-1{
		font-size: 15px;
	}
	
	.home .home-content .text-2{
		font-size: 30px;
	}
	.home .home-content .text-3{
		font-size: 20px;
	}
	.image{
	   width: 800px;
	   height: 400px;
	}
	
.home .home-content a{
	font-size: 20px;
    padding: 10px 20px;
   
}
	.column h2{
		font-size: 19px;
  }
  .column h3{
	  font-size: 10px;
  }
  .column p{
	  font-size: 14px;
  }

.center {
	margin: 0;
	position: absolute;
	top: 20%;
	left: 50%;
}

}
@media (max-width: 600px) {
	.dropMenu {
		display: flex;
	}
	.Ham {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
}
  
@media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
}
  
@media (max-width: 600px) {
	.ham {
		display: grid;
		margin-right: 20px;
		border-radius: 5px;
		width: 40px;
		height: 40px;
		place-items: center;
	}
	.logo {
		margin-left: 20px;
	}
	
}

@media (max-width: 500px) {
	.contact-us-right {
		width: 95vw;
		height: 75%;
	}
	.image_conatiner {
	width: 100%;
	
}
}

@media (max-width: 510px) {

	.Social-media {
		margin-bottom: 10px;
	}
}


@media (max-width: 900px) {
	.Footer_conatiner {
		flex-direction: column;
	}
	.Footer_header {
		width: 100%;
	}
	.yellow_section {
		flex-direction: column;
	}
	.yellow_left {
		width: 100%;
		height: 65vh;
		align-items: center;
		padding: 30px 10px 10px 10px;
		text-align: center;
		margin: 20px 0 0 0;
	}
	.yellow_right {
		width: 100%;
		height: 30vh;
		overflow-x: hidden;
	}
	.desktop {
		display: none;
	}
	.responsive {
		display: flex;
	}
	.join_our {
		position: relative;
		align-items: center;
	}
}
@media (max-width: 750px) {
	.Footer_conatiner {
		padding: 5px;
	}
	.Footer_conatiner .Footer_columns_holder {
		width: 95%;
		align-items: center;
	}
	.Footer_columns {
		width: 50%;
	}
	.Footer_columns p {
		width: 95%;
	}
	.Privacy_holder {
		justify-content: space-around;
		flex-direction: column-reverse;
		padding: 10px;
	}
	.Privacy_links {
		width: 100%;
	}
	.Social-media {
		width: 50%;
	}
}
@media (max-width: 720px) {
	.menu_item ul {
		display: none;
	}
	.menu_item {
		display: none;
	}
	.buttons {
		width: 100px;
		background-color: red;
	}
}
@media (max-width: 550px) {
	.copyRight {
		font-size: 0.5rem;
	}
}

@media (max-width: 376px) {

	.copyRight {
		font-size: 0.5rem;
	}
	.contact-us-section {
		height: 97vh;
	}
}

.blue-button {
	margin: 0 auto;
	padding-top: 50px;
}